/* Kill the Vite Default Constraints */
:root {
  margin: 0;
  padding: 0;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f1923; /* Valorant Dark Blue */
  overflow: hidden; /* Stops double scrollbars */
}